---
BasedOnStyle: Mozilla
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
ForEachMacros:
  - cds_hlist_for_each_entry_rcu
  - cds_lfht_for_each
  - cds_list_for_each_safe
  - HASH_ITER
  - TlvDecoder_EachTL
ReflowComments: true
SortIncludes: true
